<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>We received a request to reset the password for your account.</p>
    <p>If you didn't make this request, please ignore this email.</p>
    <p>To reset your password, please click the button below:</p>
    <table>
        <tr>
            <td>
                <a href="[RESET_URL]">
                    <button style="padding: 20px; font-size: 16px;">Reset Password</button>
                </a>
            </td>
        </tr>
    </table>
    <p>If you have any questions, don't hesitate to reach out to us at [EMAIL_ADDRESS]</p>
    <p>Thank you,</p>
    <p>[YOUR_NAME]</p>
</body>
</html>